.get-money {
  padding: 100px 0;
  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 140%;
  }

  &__subtitle {
    max-width: 550px;
    margin-top: 20px;
    font-size: 28px;
    line-height: 140%;
  }

  &__body {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__item {
    flex: 0 0 270px;
    margin-right: 30px;
    background: $white;
    border-radius: 20px;
    padding: 30px 20px 46px;
    &:nth-child(4n), &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $secondary;
    img {
      width: 38px;
      height: 38px;
    }
  }

  &__content {
    margin-top: 20px;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
  }

  &__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: $md1+px) {
  .get-money {
    padding-bottom: 70px;
    .container {
      padding: 0 50px;
    }
    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }
    &__body {
      justify-content: center;
    }

    &__item {
      margin-bottom: 30px;
      &:nth-child(2n), &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: $md2+px) {
  .get-money {
    padding-top: 70px;
    padding-bottom: 40px;
    .container {
      padding: 0 25px;
    }
    &__title {
      font-size: 32px;
      line-height: 140%;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 140%;
    }
    &__body {
      margin-top: 50px;
    }

    &__item {
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 30px;
      &:nth-child(2n), &:last-child {
        margin-right: 0;
      }
    }
  }
}
