//* ###### Переменные стилей ##############
//? ====== Подключение шрифтов ============
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
$fontFamily: 'IBM Plex Sans', sans-serif;

//? ====== Контейнер ======================
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 10;
$md2: 767.98;

//? ====== Цвета ==========================
$black: #252525;
$white: #FFFFFF;
$red: #EA2924;
$primary: #1F99CF;
$primary-grad: linear-gradient(102.95deg, #38BCF6 18.5%, #1F99CF 87.42%);
$secondary: #F4F9FF;
